.webgeki-main {
	background-color: rgb(255,255,255);
	font-family: "GenShinGothic";
	border: solid 1px rgb(158,158,158);
	box-shadow: 0 0 2px rgb(189,189,189);
}

.webgeki-contents, .webgeki-main h1, .webgeki-main h2, .webgeki-main h3, .webgeki-main h4, .webgeki-main h5, .webgeki-main h6, .webgeki-main p {
	margin: 0;
	padding: 0;
}

.webgeki-header {
	position: relative;
	color: rgb(255,255,255);
	background-size: cover;
	text-align: left;
}

.webgeki-header-menu {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	font-family: "GenShinGothic";
}

.webgeki-header h1 {
	padding-top: 40px;
	font-size: 36px;
}

.webgeki-header h2 {
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 18px;
}

.webgeki-header a, .webgeki-footer a {
	color: rgb(255,255,255);
	text-decoration: none;
	transition-duration: 0.5s;
}

.webgeki-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(255,255,255);
	text-align: left;
}

.webgeki-wrapper {
	width: 1000px;
	margin: auto;
	overflow: hidden;
}

.webgeki-wrapper-left {
	width: 280px;
	float: left;
}

.webgeki-wrapper-right {
	width: 700px;
	float: right;
}

.webgeki-contents {
	margin-top: 30px;
	margin-bottom: 30px;
}

.webgeki-contents h1, .webgeki-contents h2, .webgeki-contents h3, .webgeki-contents h4, .webgeki-contents h5, .webgeki-contents h6 {
	margin: 10px 0;
	padding: 2px 0;
	border-bottom: solid 2px rgb(52,152,219);
}

.webgeki-contents h1 {
	font-size: 38px;
}

.webgeki-contents h2 {
	font-size: 32px;
}

.webgeki-contents h3 {
	font-size: 26px;
}

.webgeki-contents h4 {
	font-size: 22px;
}

.webgeki-contents h5 {
	font-size: 18px;
}

.webgeki-contents h6 {
	font-size: 14px;
}

 .webgeki-contents p {
	margin: 10px 0;
}

.webgeki-contents li {
	margin-left: -15px;
}